


.container {
  width: 100%;
  position: absolute; 
  top: 0;
  display: block;
  z-index: 10000; 
  padding: 1rem; 
}


h1 {
  text-align: center;
  position: relative;
  z-index: 10001;   
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10001;
}


* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      min-height: 100vh;
      background: #1a1a1a;
      overflow: hidden;
    }

    .wrapper {
      display: grid;
      width: 100vw;
      height: 100vh;
      grid-template-columns: repeat(8, 1fr);
      gap: 2px;
    }

    .column {
      display: grid;
      grid-template-rows: repeat(auto-fill, minmax(1rem, 1fr));
      gap: 2px;
    }

    .box {
      width: 100%;
      height: 100%;
      transition: background-color 0.3s ease;
    }